
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>
</head>
<body>
    <div> 

        <h3>Sejam bem vindo ao Projeto</h3>
        
        <p>
            Selecione a ação desejada:
        </p>

        <ul>
            <li> <a href="/Estoque/Cadastro">Cadastrar Estoques</a> </li>
            <li> <a href="/Estoque/Consulta">Consultar Estoques</a> </li>
        </ul>

        <ul>
            <li> <a href="/Produto/Cadastro">Cadastrar Produtos</a> </li>
            <li> <a href="/Produto/Consulta">Consultar Produtos</a> </li>
        </ul>

    </div>
</body>
</html>
