
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>
</head>
<body>
    <div> 

        <h2>Sistema de Controle de Produtos</h2>
        Aula de C# WebDeveloper - Turma Sábado Manhã 
        <br/>
        <a href="/Home/Index">Página inicial</a>
        <hr/>

        <!-- MAIN CONTENT -->
        @RenderBody()

    </div>
</body>
</html>
